@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
form{
    display: block;
    background: var(--linear-bg);
    box-shadow: 1px 1px 3px 2px #ddd;
    padding-inline: 100px;
    width: 600px;
    max-height: 70%;

}

.contact_container{
    margin-inline: 50px;
    display: flex;
    height: 100vh;
}
.contact_img{
    height: 550px;
    margin-inline-start: 200px;
    margin-top: -50px;
}


form input, textarea{
    display: flex;
    flex-direction: column;
    width: 120%;
    margin: 10px auto;
    padding: 15px;
    font-family: "Poppins";
    background-color: #f1f1f1;
    border: 1px solid #ddd;



}

form span{
    color: rgb(255, 255, 255);

}
form button{
    height: 30px;
    width: 80px;
    align-items: center;
    border: none;
    background-color: rgb(29, 185, 237);
    color: #fff;
    cursor: pointer;
}
