@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
form{
    display: block;
    background-color: #fff;
    box-shadow: 1px 1px 3px 2px #ddd;
    margin:40px 0px 100px 550px;
    max-width: 500px;
    max-height: 400px;

}

form input, textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px auto;
    padding: 10px;
}

